<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/css/bootstrap.min.css">
    <title>Menu</title>
</head>
<body>
    <div class="container container-fluid m-3 ">
        <h4 class="d-block text-center text-white m-3 p-3 fw-bold bg-secondary usuario"></h4>
        <div class="row m-3 bg-light flex-wrap, justify-content-around align-items-lg-stretch">
            <div class="card m-2 p-2 administracion bg-info" style="width: 13rem;">
                <div class="card-header">
                    <h6 class="card-title text-center text-white fw-bold text-uppercase">Administracion</h5>
                </div>
                <img class="card-img-top mt-1" src="../media/inicio/administracion.png" alt="Card image cap">
            </div>
            <div class="card m-2 p-2 activos bg-success" style="width: 13rem;">
                <div class="card-header">
                    <h6 class="card-title text-center text-white fw-bold text-uppercase">Activos</h5>
                </div>
                <img class="card-img-top mt-1" src="../media/inicio/activos.png" alt="Card image cap">
            </div>
            <div class="card m-2 p-2 solicitud bg-info" style="width: 13rem;">
                <div class="card-header">
                    <h6 class="card-title text-center text-white fw-bold text-uppercase">Solicitud de Soporte</h5>
                </div>
                <img class="card-img-top mt-1" src="../media/inicio/solicitud.png" alt="Card image cap">
            </div>
            <div class="card m-2 p-2 reporte bg-success" style="width: 13rem;">
                <div class="card-header">
                    <h6 class="card-title text-center text-white fw-bold text-uppercase">Reporte de Mantenimiento</h5>
                </div>
                <img class="card-img-top mt-1" src="../media/inicio/reporte.png" alt="Card image cap">
            </div>
            <div class="card m-2 p-2 encuesta bg-info" style="width: 13rem;">
                <div class="card-header">
                    <h6 class="card-title text-center text-white fw-bold text-uppercase">Encuesta de Servicio</h5>
                </div>
                <img class="card-img-top mt-1" src="../media/inicio/encuesta.png" alt="Card image cap">
            </div>
            <div class="card m-2 p-2 estadistica bg-info" style="width: 13rem;">
                <div class="card-header">
                    <h6 class="card-title text-center text-white fw-bold text-uppercase">Estadisticas</h5>
                </div>
                <img class="card-img-top mt-1" src="../media/inicio/estadistica.png" alt="Card image cap">
            </div>
        </div>
    </div>
</body>
    <script type="module" src="../style/js/jquery-1.8.3.min.js"></script>
    <script type="module" src="../style/js/bootstrap.min.js"></script>
    <script type="module" src="../controllers/inicio.js"></script>

</html>